html , body{
        background: linear-gradient(266deg, #761616, #2b008f);
}
.card{
    width: 40%;
    margin: auto;
    margin-top: 18vh;
    overflow: hidden;
    box-shadow: 1px 1px 2px 0px #4d4d4d;
    border-radius: 5px;
    border: none;
}
.row{
    width: 100%;
    padding: 0px;
    margin: 0;
    box-shadow: 1px 1px 1px 0px black;
    border: none;

}
.stn9{
    width: 75% ;
    padding: 15px;
    font-size: 25px ;
    font-family: sans-serif;
    background-color: white;
    border: none;
    }

.stn3{
    width: 25%;
     padding: 15px;
      text-align: center;
       font-size: 25px;
       color: white;
       cursor: pointer;
     font-family: sans-serif;
     background-color: rgb(26, 26, 26);
    box-shadow: 0px 1px 1px 0px #4d4d4d;
     border: none;
     transform: scale(1);
    }
.div-p{
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 1px 0px black;
    border: none;
    background: linear-gradient(30deg, #212529, #054c50);
    color: rgb(175, 175, 175);
    font-family: auto;
    font-size: 15px;
}
.spn2{
    border: none;
    background: none;
    color: white;
}
.spn1{
    border: none;
    background: none;
    color: black;
}

    @media(max-width:768px){
.card{
    width: 90%;
    margin-top: 17vh;


}


}