html , body{
    background-color: gray;
}


.card{
    width: 40%;
    margin: auto;
    margin-top: 12vh;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px #4d4d4d;
    border-radius: 5px;
    border: none;
}
.row{
    width: 100%;
    padding: 0px;
    margin: 0;
    box-shadow: 1px 1px 1px 0px black;
    border: none;

}
.stn9{
    width: 75% ;
    padding: 15px;
    font-size: 25px ;
    font-family: sans-serif;
    background-color: white;
    border: none;
    }

.stn3{
    width: 25%;
     padding: 15px;
      text-align: center;
       font-size: 25px;
       color: white;
       cursor: pointer;
     font-family: sans-serif;
     background-color: rgb(26, 26, 26);
    box-shadow: 0px 1px 1px 0px #4d4d4d;
     border: none;
    }



    @media(max-width:768px){
.card{
    width: 90%;
    margin-top: 10vh;


}


}